body{
    display: flex;
    margin:0px;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    display: flex;
    background-color: #002244;
    justify-content: center;
}

.displayScore{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 50px;
}

h1{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #C60C30;
    font-size: 80px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #B0B7BC;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 68px;
    padding-bottom: 68px;
}

h2{
    color: #C60C30;
    font-size: 60px;
    margin-bottom: 20px;
}

.sign{
    display: flex;
    justify-content: space-around;
    font-size: 75px;
}

.scoreBoxes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 50px;
}

.buttons{
    margin-bottom: 100px;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    font-size: 75px;
}

.btnShape{
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.footer {
    background-color: #002244;
    color: #C60C30;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    background-color: #c7c6c3;
    text-align: center;
    font-size: 30px;
    user-select: none;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
  }

  button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modalTitle {
    font-size: 40px;
    font-weight: bold;
    margin: 5px;
    color: #002244;
  }
  
  .restartBtn {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  .dimBack {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
  }
  
  .dimBack.active {
    display: block;
  }